---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ProtocolStrip from "../components/ProtocolStrip.astro";
import FeatureGrid from "../components/FeatureGrid.astro";
import MultiProtocol from "../components/MultiProtocol.astro";
import Collections from "../components/Collections.astro";
import MockServer from "../components/MockServer.astro";
import Collaboration from "../components/Collaboration.astro";
import Scripting from "../components/Scripting.astro";
import CodeGen from "../components/CodeGen.astro";
import AiIntegration from "../components/AiIntegration.astro";
import InstallCta from "../components/InstallCta.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <ProtocolStrip />
    <FeatureGrid />
    <MultiProtocol />
    <Collections />
    <MockServer />
    <Collaboration />
    <Scripting />
    <CodeGen />
    <AiIntegration />
    <InstallCta />
  </main>
  <Footer />
</Layout>
